body{
  height: 100%;
  background: rgb(51,56,66);
  background: linear-gradient(277deg, rgba(51,56,66,1) 0%, rgba(163,170,182,1) 100%);
}

.App {
  text-align: center;
}

.logo {
  pointer-events: none;
}

.header {
  background-color: #282c34;
  min-height: 1.5rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.header .container {
  position: relative;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.container{
  width: 1200px;
  max-width: 100%;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row {
  padding: 1rem 0 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.row .row:first-child{
  padding-top: 0;
}

.card .smallImg {
  width: 5rem;
}

[class*='col'] + [class*='col']{
  padding-left: 0.5rem;
}

.col-3 {
  width: 25%;
}

.col-9 {
  width: 75%;
}

.col-12{
  width: 100%;
}

.Nav-items{
  list-style: none;
}

.Nav-items li{
  display: inline-block;
  vertical-align: top;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1;
}

.Nav-items li a.active{
  color: #ffffff;
  pointer-events: none;
}

.Nav-items li a {
  color: #8e8e8e;
  text-decoration: none;
  padding: 1.1rem 1rem;
  display: inline-block;
}

.Nav-items li a span {
  position: relative;
  z-index: 5;
}

.Nav-items li a:before,
.card h1:before{
  content: attr(data-title);
  display: inline-block;
  position: absolute;
  z-index: 1;
  color: rgb(255 255 255 / 15%);
  font-size: 4.8rem;
  line-height: 1;
  top: -4.1%;
  right: 0;
  opacity: 0;
  transition: .5s;
}

.card h1:before{
  opacity: 1;
  color: rgb(0 0 0 / 3%);
  font-weight: 500;
  left: 0;
  right: auto;
  top: auto;
  font-size: 4.4rem;
  bottom: -18%;
}

.Nav-items li a:hover:before{
  opacity: 1;
}

.Nav-items li a:hover{
  color: #ffffff;
}

.avatar{
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.card{
  background: #ffffff;
  border-radius: 0.3rem;
  padding: 1rem;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 100%;
  box-shadow: 0px 3px 4px 0px rgb(0 0 0 / 25%);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.card h1{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 100;
  margin: 0;
}

.card img {
  max-width: 100%;
  border-radius: 0.3rem;
}

.cardText{
  padding-left: 1rem;
  font-size: 0;
}

.cardText ul{
  list-style: none;
  padding: 0.5rem 0;
}

.cardText li{
  display: inline-block;
  vertical-align: top;
  background: #f3f3f3;
  padding: .3rem 0.5rem;
  font-size: 0.5rem;
  line-height: 1;
  border-radius: .8rem;
  color: #afafaf;
  font-weight: 700;
  text-transform: uppercase;
}

.cardText li + li{
  margin-left: 0.4rem;
}

.cardText h2 {
  margin-top: 0;
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.cardText span, 
.cardText p {
  font-size: 0.7rem;
  color: #8e8e8e;
  font-weight: 600;
}

.cardText p {
  margin-bottom: 0rem;
  margin-top: 0.2rem;
}

.cardText small {
  color: #000000;
  margin-left: 0.3rem;
}

.social a{
  color: #282c34;
  font-size: 1rem;
}

.social img {
  width: 1.1rem;
  opacity: .5;
  margin-right: 0.3rem;
}

.social a:hover img{
  opacity: 1;
}